#container {
  background-color: black;
  padding: 10px;
}

#rules {
  background-color: red;
  width: 500px;
  margin: 0 auto;
  color: black;
  border-radius: 20px;
}

h1 {
  color: red;
  text-align: center;
}

h3 {
  color: red;
  text-align: center;
}

p {
  color: black;
}

ul {
  background-color: rgba(200, 50, 200, 0);
}

img {
  width: 150px;
  height: 250px;
}

#playerCards {
  background-color: red;
  margin: 0 auto;
  border-radius: 20px;
}

#dealerCards {
  background-color: red;
  margin: 5px;
}

#playerCard1 {
  width:150px;
  height:250px;
  background-color: black;
  display: inline-block;
  margin: 0 auto;
}

#playerCard2 {
  width:150px;
  height:250px;
  background-color: black;
  display: inline-block;
  margin: 0 auto;
}

#playerCard3 {
  width:150px;
  height:250px;
  background-color: black;
  display: inline-block;
  margin: 0 auto;
}

#playerCard4 {
  width:150px;
  height:250px;
  background-color: black;
  display: inline-block;
  margin: 0 auto;
}

#playerCard5 {
  width:150px;
  height:250px;
  background-color: black;
  display: inline-block;
  margin: 0 auto;
}

#dealerCard1 {
  width:150px;
  height:250px;
  background-color: black;
  display: inline-block;
  margin: 0 auto;
}

#dealerCard2 {
  width:150px;
  height:250px;
  background-color: black;
  display: inline-block;
  margin: 0 auto;
}

#dealerCard3 {
  width:150px;
  height:250px;
  background-color: black;
  display: inline-block;
  margin: 0 auto;
}

#dealerCard4 {
  width:150px;
  height:250px;
  background-color: black;
  display: inline-block;
  margin: 0 auto;
}

#dealerCard5 {
  width:150px;
  height:250px;
  background-color: black;
  display: inline-block;
  margin: 0 auto;
}

#endRoundButton {
  background-color: rgb(0, 200, 100);
  border: 2px solid black;
  margin: 2px;
  float: right;
}

#newGameButton {
  float: right;
  background-color: rgb(0, 200, 100);
  border: 2px solid black;
  margin: 2px;
  display: block;
}

#hit {
  background-color: rgb(0, 200, 100);
  border-radius: 20px;
  border: 2px solid black;
}

#stay {
  background-color: rgb(0, 200, 100);
  border-radius: 20px;
  border: 2px solid black;
}

#hideRules {
  margin: 0 auto;
  display: block;
}
