#container {
  height: 100vh;
}

#rules {
  background-color: rgba(200, 50, 200, 0.2);
  width: 500px;
  margin: 0 auto;
  color: black;
}

h1 {
  color: red;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}

p {
  color: red;
}

ul {
  background-color: rgba(200, 50, 200, 0);
}
